<section class="booking-dialog">
  <section class="dialog-heading">
    <h6 mat-dialog-title>Book Time Slot</h6>

    @if (data.appointment) {
      <button mat-icon-button (click)="removeAppointment()">
        <mat-icon>
          <span class="material-symbols-outlined"> delete </span>
        </mat-icon>
      </button>
    }
  </section>

  <form [formGroup]="bookingForm" (ngSubmit)="onSubmit()">
    <section class="time-slots">
      <mat-form-field appearance="fill">
        <mat-label>Start Time</mat-label>
        <input type="time" matInput formControlName="startTime" />

        @if (bookingForm.controls.startTime.hasError('required')) {
          <mat-error>Start Time is required</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>End Time</mat-label>
        <input type="time" matInput formControlName="endTime" />

        @if (bookingForm.controls.endTime.hasError('required')) {
          <mat-error>End Time is required</mat-error>
        }
      </mat-form-field>
    </section>

    @if (bookingForm.hasError('minDuration')) {
      <mat-error>Minimal duration should be at least 30 min</mat-error>
    }

    <mat-form-field appearance="fill">
      <mat-label>Label</mat-label>
      <input type="text" matInput formControlName="label" />

      @if (bookingForm.controls.label.hasError('required')) {
        <mat-error>Label is required</mat-error>
      }

      @if (bookingForm.controls.label.hasError('minlength')) {
        <mat-error>
          Label should be atleast
          {{ bookingForm.controls.label.errors?.['minlength']?.requiredLength }}
          characters long
        </mat-error>
      }
    </mat-form-field>

    <button mat-flat-button type="submit" color="primary">Book</button>
  </form>
</section>
