<section class="booking-dialog">
  <h6 mat-dialog-title>Book Time Slot</h6>

  <form [formGroup]="bookingForm" (ngSubmit)="onSubmit()">
    <section class="time-slots">
      <mat-form-field appearance="fill">
        <mat-label>Start Time</mat-label>
        <input type="time" matInput formControlName="startTime" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>End Time</mat-label>
        <input type="time" matInput formControlName="endTime" />
      </mat-form-field>
    </section>

    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input type="text" matInput formControlName="label" />
    </mat-form-field>

    @if (bookingForm.hasError('minDuration')) {
      <mat-error>Minimal duration should be at least 30 min</mat-error>
    }

    <button mat-flat-button type="submit" color="primary">Book</button>
  </form>
</section>
