<div class="day-view">
  <div class="header">
    <div class="date-info">
      <span class="day-name">SUN</span>
      <div class="date-circle">3</div>
    </div>
  </div>

  <div class="time-slots">
    @for (hour of hours; track $index) {
      <div class="time-slot">
        <div class="time-label">{{ hour }}:00</div>
        <div class="appointment-space">
          @for (
            appointment of appointments | filterAppointments: hour;
            track $index
          ) {
            <div
              class="appointment"
              [ngStyle]="appointment | appointmentSize: $index">
              {{ appointment.label }}: {{ appointment.start }} -
              {{ appointment.end }}
            </div>
          }
        </div>
      </div>
    }
  </div>
</div>
