<header>
  <section>
    <mat-icon>
      <span class="material-symbols-outlined"> calendar_month </span>
    </mat-icon>
    <h6>Calendar</h6>
  </section>
  <section>
    <button mat-stroked-button (click)="todayBtnClick.emit()">Today</button>

    <div class="arrow-buttons">
      <button mat-icon-button (click)="prevBtnClick.emit(selectedDate)">
        <mat-icon>
          <span class="material-symbols-outlined"> chevron_left </span>
        </mat-icon>
      </button>

      <button mat-icon-button (click)="nextBtnClick.emit(selectedDate)">
        <mat-icon>
          <span class="material-symbols-outlined"> chevron_right </span>
        </mat-icon>
      </button>
    </div>
    <p>{{ selectedDate | date }}</p>
  </section>
</header>
