<header>
  <section>
    <mat-icon>
      <span class="material-symbols-outlined"> calendar_month </span>
    </mat-icon>
    <h6>Calendar</h6>
  </section>
  <section>
    <button mat-stroked-button>Today</button>
    <div class="arrow-buttons">
      <button mat-icon-button>
        <mat-icon>
          <span class="material-symbols-outlined"> chevron_left </span>
        </mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>
          <span class="material-symbols-outlined"> chevron_right </span>
        </mat-icon>
      </button>
    </div>
    <p>November 2024</p>
  </section>
</header>
