.day-view {
  .time-slots {
    display: flex;
    flex-direction: column;
    padding: 0rem 1rem;

    .time-slot {
      display: flex;
      border-bottom: 0.0625rem solid var(--border-color);
      height: 4rem;
      align-items: center;

      .time-label {
        width: 3.75rem;
        font-size: 0.875rem;
      }

      .appointment-space {
        border: none;
        flex-grow: 1;
        height: 4rem;
        border-left: 0.0625rem solid var(--border-color);
        position: relative;
        background: transparent;

        .appointment {
          position: absolute;
          background-color: var(--primary-color);
          color: var(--white-color);
          font-size: 0.75rem;
          padding: 0.25rem;
          border-radius: 0.25rem;
          width: -webkit-fill-available;
          border: 0.0625rem solid var(--border-color);
          z-index: 1;
          left: 0%;
          top: 0;
        }
      }
    }
  }
}
