<section class="calendar-page">
  @if (vm$ | async; as vm) {
    <app-calendar-sidebar
      [selectedDate]="vm.selectedDate"
      (openBookingDialog)="openBookingDialog()"
      (selectedChange)="onSelectedDateChange($event)">
    </app-calendar-sidebar>

    <section class="calendar-content">
      <div class="header">
        <div class="date-info">
          <div class="date-circle">{{ vm.selectedDate | date: 'dd' }}</div>
          <span class="day-name">{{ vm.selectedDate | date: 'EEEE' }}</span>
        </div>
      </div>
      <app-day-view
        [appointments]="vm.appointments"
        (editAppointmentClick)="openBookingDialog($event)"
        (appointmentDragged)="appointmentDraggedHandler($event)"></app-day-view>
    </section>
  }
</section>
